@media all and (max-width: 768px) {
    #full-clndr .clndr-grid {
        width: 100%;
        border: none;
    }
    #full-clndr .event-listing {
        display: none;
    }
    h1.banner-text {
        font-size: 28px;
    }
    .banner-text.below {
        font-size: 16px;
        word-wrap: break-word;
    }
    code[class*="language-"],
    pre[class*="language-"] {
        font-size: 14px;
    }
    #clndr-4 .day,
    #clndr-4 .clndr-next-button,
    #clndr-4 .clndr-previous-button {
        height: 100px;
    }
    #clndr-4 .clndr-next-button,
    #clndr-4 .clndr-previous-button {
        padding-top: 30px;
    }
    #clndr-4 .events {
        margin-top: 0.1em;
    }
    #clndr-4 .event-listing {
        width: 1px;
        height: 1px;
    }
    #clndr-4 .event-listing-title {
        display: none;
    }
}

.noselect {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}

#mini-clndr {
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#mini-clndr .clndr {
    overflow: hidden;
    border-bottom: 7px solid #69a776;
}

#mini-clndr .clndr .controls {
    background-color: #69a776;
    color: white;
}

#mini-clndr .clndr .controls .clndr-previous-button,
#mini-clndr .clndr .controls .clndr-next-button {
    width: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

#mini-clndr .clndr .controls .clndr-previous-button:hover,
#mini-clndr .clndr .controls .clndr-next-button:hover {
    background-color: #528b5e;
}

#mini-clndr .clndr .controls .month {
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

#mini-clndr .clndr .days-container {
    position: relative;
    width: 100%;
    height: 250px;
    display: inline-block;
}

#mini-clndr .clndr .days-container .days {
    position: absolute;
    left: 0;
    width: 100%;
    height: 260px;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
    background-color: #ebebeb;
}

#mini-clndr .clndr .days-container .days .day,
#mini-clndr .clndr .days-container .days .empty {
    width: calc(100%/7);
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    text-align: center;
    color: #212121;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

#mini-clndr .clndr .days-container .days .day:hover {
    background-color: #f53184;
    cursor: pointer;
}

#mini-clndr .clndr .days-container .days .day.event,
#mini-clndr .clndr .days-container .days .empty.event {
    background-color: #f53184;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    cursor: pointer;
}

#mini-clndr .clndr .days-container .days .day.event:hover,
#mini-clndr .clndr .days-container .days .empty.event:hover {
    background-color: #f53184;
}

#mini-clndr .clndr .days-container .days .day.adjacent-month,
#mini-clndr .clndr .days-container .days .empty.adjacent-month {
    color: rgba(0, 0, 0, 0.3);
}

#mini-clndr .clndr .days-container .days .empty {
    height: 31px;
    vertical-align: bottom;
}

#mini-clndr .clndr .days-container .days .headers {
    background-color: #97ce7f;
    padding-top: 5px;
    padding-bottom: 5px;
}

#mini-clndr .clndr .days-container .days .headers .day-header {
    width: calc(100%/7);
    display: inline-block;
    text-align: center;
    color: white;
}

#mini-clndr .clndr .days-container .events {
    position: absolute;
    left: 100%;
    width: 100%;
    height: 260px;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
    background-color: #ebebeb;
}

#mini-clndr .clndr .days-container .events .headers {
    position: relative;
}

#mini-clndr .clndr .days-container .events .event-header {
    width: 100%;
    background-color: #97ce7f;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

#mini-clndr .clndr .days-container .events .x-button {
    position: absolute;
    font-size: 80%;
    top: 7px;
    left: 20px;
    cursor: pointer;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
    z-index: 100;
}

#mini-clndr .clndr .days-container .events .x-button:hover {
    color: white;
}

#mini-clndr .clndr .days-container .events .events-list {
    overflow: scroll;
    height: 250px;
}

#mini-clndr .clndr .days-container .events .events-list .event {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
    width: 50%;
    float: left;
    display: block;
    position: relative;
}

#mini-clndr .clndr .days-container .events .events-list .event:hover {
    background-color: #f5f5f5;
}

#mini-clndr .clndr .days-container .events .events-list .event a {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: transparent;
    color: #212121;
    text-decoration: none;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
}

#mini-clndr .clndr .days-container .events .events-list .event i {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.9;
    display: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#mini-clndr .clndr .days-container .events .events-list .event label {
    width: 80%;
    display: inline-block;
}

#mini-clndr .clndr .days-container .events .events-list .event:hover i {
    display: block;
}

#mini-clndr .clndr .days-container .events .events-list .event a:hover {
    background-color: transparent;
    color: #69a776;
}

#mini-clndr .clndr .days-container.show-events .days {
    left: -100%;
}

#mini-clndr .clndr .days-container.show-events .events {
    left: 0;
}

.show-detail {
    display: block !important;
}

.detail {
    display: none;
}

.show-detail > .event.detail {
    display: block;
}

.add-schedule-btn {
    width: auto;
    padding: 10px 10px;
    background-color: #9062b9;
    font-weight: bold;
    margin: 10px 33%;
}

#mini-clndr .clndr .days-container .overlayer {
    background: #cccccc80;
    width: 100%;
    height: 300px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}

#mini-clndr .clndr .days-container .overlayer i {
    top: 30%;
    position: absolute;
    left: 45%;
    z-index: +10;
    color: #000;
}

#mini-clndr .clndr .days-container .overlayer h4 {
    top: 50%;
    color: #F48024;
    font-weight: 300;
}

div#search-form {
    width: 100%;
    display: inline-block;
}

#search-form input[type="text"] {
    padding: 10px 10px;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    height: 50px;
    width: 80%;
    float: left;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

div#search-form button {
    width: 20%;
    box-shadow: 0 0 5px #ccc;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    float: left;
    height: 50px;
    font-size: 18px;
}

#search-results {
    padding-top: 30px;
}

#search-results .title-right .buddyboss-select {
    float: right;
    margin-top: 20px;
    margin-right: 0;
}

#search-results .result {
    box-shadow: 0 0 5px #ccc;
    padding: 15px;
    margin-bottom: 15px;
    padding-bottom: 0;
}

#search-results .result .result-header,
#search-results .result .result-body,
#search-results .result .result-footer {
    width: 100%;
    z-index: 1;
    display: inline-block;
}

#search-results .result .result-header .user-avatar img {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    height: 100%;
}

#search-results .result .result-header .user-title {
    max-height: 150px;
}

#search-results .result .result-header .user-title .name a {
    font-size: 18px;
    // color: #4dcadd;
    margin-right: 20px;
}

#search-results .result .result-header .user-title .name span.full-time,
#search-results .result .result-header .user-title .name span.hire-me {
    padding: 5px 10px;
    color: #fff;
    background-color: #40bf11;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

#search-results .result .available-day {
    // background-color: #ec8848;
    // padding: 5px 10px;
    // margin-top: 10px;
    float: left;
    margin-right: 10px;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

#search-results .result .result-header .user-title .name span.price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.skill-text {
    padding-right: 10px;
    border-right: 1px solid;
    padding-left: 10px;
}

.skill-text:last-child {
    border: none;
}

.skill-text:first-child {
    padding-left: 0px;
}

.result .skills {
    display: inline-block;
    width: 100%;
}

//     .result .rate {
//     color: #fc5f09;
// }
.rate span {
    background-color: #fc5f09;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}

.available-day.available {
    color: #fc5f09 !important;
}

.alert-dismissable .close,
.alert-dismissible .close {
    width: auto!important;
}

.avatar {
    border: 1px solid #999 !important;
    border-radius: 50%;
}

.short-intro {
    width: 100%;
    display: inline-block;
    float: left;
}

#review_form {
    margin-top: 30px;
}

#review_form .fa {
    cursor: pointer;
}

.rated {
    color: #fc5f09;
}

.mt-30 {
    margin-top: 30px;
}

.review {
    margin-top: 20px;
}

div#sugget_results {
    width: 70%;
    height: auto;
    display: inline-block;
    box-shadow: 0px 9px 22px #ccc;
    padding: 10px 0;
    max-height: 150px;
    overflow-y: scroll;
}
